
    </main>
    <footer class="footer">
    {% if auth.login %}
      <div class="container-fluid bg-dark bg-dot border-top border-2 border-secondary">
        <div class="row text-center mx-auto py-4">
          <div class="col-12">
            <p class="text-white m-0">
              <i class="fa fa-user me-2" aria-hidden="true"></i>{{ translate('User') }}: {{ auth.user }}
            </p>
            {{ block('copyright') }}
          </div>
        </div>
      </div>
    {% else %}
      <div class="container-fluid bg-dark bg-dot border-top border-2 border-secondary">
        <div class="row text-center mx-auto py-4">
          <div class="col-12">
            <p class="text-white m-0">
              <i class="fa fa-user me-2" aria-hidden="true"></i>{{ translate('User') }}: {{ auth.user }}
            </p>
            {% block copyright %}
            <hr class="bg-white">
            <small class="text-white">
              &copy; {{ 'now'|date('Y') ~ ' ' ~ translate(CONSTANT.APP_NAME) }}{{ CONSTANT.VERSION ? ' - v' ~ CONSTANT.VERSION : '.' }}
            </small>
            {% endblock %}
          </div>
        </div>
      </div>
    {% endif %}
    </footer>
    {% include '@sciola/footer/packages.html' %}
  </body>
</html>
