{% include header with {
    meta: {
      title: 'Welcome!'
    }
  }
%}
<div class="container-fluid bg-white bg-dot vh-100">
  <div class="row">
    <div class="col text-center py-5">
      <a href="https://sciola-framework.github.io">
        <img src="https://raw.githubusercontent.com/sciola-framework/sciola-framework.github.io/main/images/brands/sciola_framework.animated.svg" width="100%">
      </a>
      <h1 class="font-light fs-2 py-5">{{ translate('The Sciola Framework was installed correctly') }}</h1>
      <hr>
      <a class="text-secondary" href="https://github.com/sciola-framework/Sciola">
        <i class="fab fa-github fa-3x"></i>
      </a>
    </div>
  </div>
</div>
{% include footer %}
